nav a:hover, nav a:active, nav a:focus {
    color: grey !important;
}

nav.navbar {
    background: white;
    border: none;
    margin: 10px 0 0;
    height: 60px;
    padding-top: 6px
}

.main-menu {
    margin: 0 50px;
}

.add-now-to-cart-button {
    margin-bottom: 10px;
    margin-left: 15px
}

@media screen and (max-width: 1024px) {

    .frontpage-main-row {
        padding-left: 0;
    }
}

@media screen and (max-width: 907px) {
    .nav li a {
        padding: 15px 8px !important;
    }
}

@media screen and (max-width: 809px) {
    .nav li a {
        padding: 15px 5px !important;
    }
}

@media screen and (max-width: 768px) {

    nav.navbar {
        background: white;
        border: none;
        margin: 10px 0 0;
        min-height: 60px;
        height: auto;
        padding-top: 6px
    }

    .text-bulletin-xs {
        font-size: 14px !important;
    }
}


@media screen and (max-width: 767px) {
    .nav li a {
        padding: 15px !important
    }
}

@media screen and (max-width: 576px) {

    .main-menu {
        margin: 0 15px
    }

    .add-edit-cart-button {
        clear: right;
    }

    .add-now-to-cart-button {
        margin-left: 0;
    }

    .frontpage-main-row {
        padding-left: 12px;
    }

}

nav .icon-bar {
    background-color: grey !important
}

.pizza-slice {
    height: 30px;
    margin: 14px auto 0;
    display: block;
}

.main-logo {
    height: 78px;
    float: left;
    margin-right: 15px;
    margin-top: -8px;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: rgb(221, 221, 221);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fcf8e3;
    border-color: rgb(221, 221, 221);
}

.manage-order-button {
    margin-bottom: 5px
}

.text-bulletin-xs,
.text-bulletin-sm , 
.text-bulletin {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.text-bulletin-sm {
    font-size: 30px;
    color: dimgrey;
    line-height: 58px;
}

.text-bulletin-xs {
    font-size: 22px;
    color: dimgrey;
    line-height: 58px;
}

.bulletin-border-right {
    border-right: 1px solid #ddd;
}

.nav-pills li a,
.nav-pills li a:hover {
    background: #fff;
    color: #8a6d3b;
    border: 1px solid #eee;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
    background: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid white;
}

