nav a:hover, nav a:active, nav a:focus {
    color: grey !important;
}

nav.navbar {
    background: white;
    border: none;
    margin: 10px 0 0;
    height: 60px;
    padding-top: 6px
}

.main-menu {
    margin: 0 50px;
}

.add-now-to-cart-button {
    margin-bottom: 10px;
    margin-left: 15px
}

@media screen and (max-width: 1024px) {

    .frontpage-main-row {
        padding-left: 0;
    }
}

@media screen and (max-width: 845px) {
    .nav li a {
        padding: 15px 8px !important;
    }
}

@media screen and (max-width: 767px) {
    .nav li a {
        padding: 15px !important
    }

    nav.navbar {
        background: white;
        border: none;
        margin: 10px 0 0;
        min-height: 60px;
        height: auto;
        padding-top: 6px
    }
}

@media screen and (max-width: 576px) {

    .main-menu {
        margin: 0 15px
    }

    .add-edit-cart-button {
        clear: right;
    }

    .add-now-to-cart-button {
        margin-left: 0;
    }

    .frontpage-main-row {
        padding-left: 12px;
    }
}

nav .icon-bar {
    background-color: grey !important
}

.pizza-slice {
    height: 30px;
    margin: 14px auto 0;
    display: block;
}

.main-logo {
    height: 78px;
    float: left;
    margin-right: 15px;
    margin-top: -8px;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: rgb(221, 221, 221);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fcf8e3;
    border-color: rgb(221, 221, 221);
}

.manage-order-button {
    margin-bottom: 5px
}

