@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-warning list-group-item-heading">
            Cart
        </li>
        <li class="list-group-item">
            <p>...</p>
            <hr />
            <p>...</p>
            <hr />
            <p>...</p>
            <hr />
            <a href="#" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-shopping-cart"></span> Buy now
            </a>
        </li>
    </ul>

</p>